{% extends "core/base.html" %}

{% block title %}Brand Story{% endblock %}

{% block content %}
    <div class="story-container">
        <h2 class="story-title">Brand story</h2>
        <hr class="story-divider">

        <div class="story-section-text">
            <p>
                책, 영화, 뮤지컬, <br>
                일상에 힐링이 되고, 쉼표가 되는 작품들. <br>
                한 번 본 것으로 끝나기엔 너무 아쉽지 않았나요?
            </p>
            <p class="section-highlight">
                이제 세상에서 하나뿐인 나의 문학작품 굿즈로 작품의 여운을 즐겨보세요!
            </p>
        </div>

        <div class="story-section-text">
            <p>
                밑줄 스튜디오는 영화, 예술, 문학 및 관련 분야 전공자들이 모여 <br>
                새로운 형태의 문화생활 소비 양상을 만들어가며 <br>
                문화 예술 산업의 발전과 장기적 부흥을 도모하는 청년 스타트업입니다.
            </p>
        </div>

        <div class="story-section-text">
            <p>
                밑줄 스튜디오는 매일 새로운 문화생활 소비자와 만나며, 세상의 모든 '최애' 작품들을 소개받고 있어요. <br>
                소개받은 작품은 밑줄 스튜디오를 통해 세상에서 하나뿐인 작품 굿즈로 탄생합니다.
            </p>
        </div>

        <div class="story-section-text">
            <p>
                소비자와 만나는 그 순간, 굿즈 기획은 시작됩니다. <br>
                어떤 모양일지, 무슨 물건일지, 밑줄에게는 단 하나라도 미리 정해놓고 끼워 맞추는 법이 없습니다.
            </p>
        </div>
        
        <div class="story-call-to-action">
            <p>
                당신의 가장 소중한 밑줄과 이야기를 저희에게 공유해 주세요. <br> 
                세상에 단 하나뿐인, 당신만의 개성과 스토리를 담은 문학 굿즈로 만들어 드립니다!
            </p>
            {# <a href="{% url 'core:suggestion' %}" class="story-suggest-btn">아이디어 제안하기</a> #}
        </div>
    </div>
{% endblock content %}